@charset "utf-8";

//-----------------
// textColor
//-----------------
$color_text: #E8EAED;

//-----------------
// base
//-----------------
$color_base: #202124;

//-----------------
// AccentColor
//-----------------
//$color_accent: #2D3A50;

//-----------------
// Link
//-----------------
$color_link: #0039ab;

//-----------------
// other
//-----------------
$color_placeholder: #bababa;
$color_shadow: rgba(0, 0, 0, 0.1);
$color_input: #fbfbfb;
$color_border: #eff0f4;
$color_select: #edf8f6;

//-----------------
// SNS
//-----------------
//$color_tel: #C9B97A;
//$color_line: #01B901;

//-----------------
// thema
//-----------------
$color_thema1: #AF8386;
$color_thema2: #B14248;
$color_thema3: #71B142;
$color_thema4: #96979A;